svg.status-bar {
  rect.background-rectangle {
    fill: var(--bg2);
  }

  rect.status-rectangle {
    &.danger {
      fill: var(--danger);
    }

    &.warn-danger {
      fill: var(--warn-danger);
    }

    &.warn {
      fill: var(--warn);
    }

    &.warn-success {
      fill: var(--warn-success);
    }

    &.success {
      fill: var(--success);
    }

  }
} 