.slider {
  .ticks {
    fill: var(--fg);
    font-size: 0.75rem;
  }

  .track,
  .track-inset,
  .track-overlay {
    stroke-linecap: round;
  }

  /* 
  .track {
    stroke: var(--statusline1);
    stroke-width: 12px;
  }
 */
  .track,
  .track-inset {
    stroke: var(--bg2);
    stroke-width: 10px;
  }

  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
  }

  .handle {
    fill: var(--bg5);
    stroke: var(--aqua);
    stroke-width: 2px;
  }
} 