@mixin fill-stroke($color) {
  fill: $color;
  stroke: $color;
}

.score-dial {
  .score-dial-ring {
    fill: none;
  }

  .score-dial-score {
    font-size: 2rem;
  }

  .danger {
    @include fill-stroke(var(--danger));
  }

  .success {
    @include fill-stroke(var(--success));

  }

  .warn {
    @include fill-stroke(var(--warn));
  }

} 