.line-chart-with-tooltip {
  .line-chart-tooltip {
    fill: var(--bg1);
  }

  .line-chart-tooltip-text {
    fill: var(--green);
  }

  .axis {
    $axis-color: var(--green);

    path.domain {
      stroke: $axis-color;
    }

    .tick {
      line,
      text {
        stroke: $axis-color;
      }

      text {
        stroke-opacity: 0.25;
      }

      .grid-line {
        stroke-opacity: 0.15;
      }
    }

  }

  path.line {
    fill: none;
    stroke: var(--blue);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  path.area {
    fill: var(--bgblue);
    fill-opacity: 0.5;
  }
} 