@use '~everforest-scss/dist/everforest.scss';
@import '~everforest-scss/dist/everforest';
@import './compass/compass';
@import './slider/slider';
@import './score-dial/score-dial';
@import './status-bar/status-bar';
@import './charts/line-tooltip/line-chart-with-tooltip';
@import './charts/ridge-line/ridge-line-chart';

:root {
    --success: #{everforest.$green};
    --warn-success: #c0be80;
    --warn: #{everforest.$yellow};
    --warn-danger: #{everforest.$orange};
    --danger: #{everforest.$red};
}

@mixin flex-col() {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

body {
    background: everforest.$bg0;
    color: everforest.$fg;
    font-family: monospace;
    height: 100vh;

    @include flex-col;

    flex-flow: row wrap;
}

.status-container,
.compass-container {
    @include flex-col;
} 