svg.compass {
  background-color: var(--bg0);

  .circle {
    fill: var(--bg1);
  }

  .needle {
    .needle-point,
    .needle-shaft {
      stroke: var(--orange);
      fill: var(--orange);
      opacity: 0.5;
    }

    .needle-shaft {
      stroke-linecap: round;
      stroke-width: 20px;
    }
  }


  .heading {
    font-size: 4rem;
    fill: var(--fg);

    .heading-cardinal {
      fill: var(--grey0);
    }

  }

  .dial {
    .dial-degrees {
      fill: var(--aqua)
    }

    .dial-ticks {
      stroke-width: 1px;
      stroke: var(--blue)
    }

    .dial-cardinals {
      fill: var(--green);
      font-size: 1rem;

      .dial-cardinal-primary {
        font-size: 2rem;
      }
    }


  }
} 